
/* Global styles for centering the content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; /* Ensures full screen height */
  background-color: #1a1a1a; /* Dark background for styling */
}



.div {
  align-items: center;
  text-align: center;
}


/* Ask your wingwomen anything */
textarea {
  width: 85%;
  height: 75%;
  max-width: 800px;
  height: 100px; /* Increase the height to make it more visible */
  border-radius: 25px;
  background-color: #1a1a1a; /* Dark black */
  color: #fff; /* Set the text color to white */
  border: 2px solid #8a2be2; /* Purple */
  resize: none; /* Prevent textarea resizing */
  padding: 10px; /* Add some padding inside the textarea */
  font-size: calc(10px + 2vmin);
  box-shadow: 0 4px 6px rgba(143, 137, 137, 0.78);
  box-sizing: border-box; /* Include padding and border in the element's total width and height */ 
  /* transition: width 0.8s ease-in-out;  */

}  




/* Style for the textarea container */
.textarea-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make it responsive */
  max-width: 600px;
  margin: 0 auto; /* Center horizontally */
}
/* 
.textarea-container.expanded {


  height: 200% ;
  width: 90%;
  display: flex;  
  justify-content: flex-end; 
}
 */


.textarea-container.expanded .textarea {
  width: 95%;

}

/* .expanded {
  width: 10%;
} */

::placeholder {
  font-size: calc(10px + 2vmin);
}


.hide {
  display: none; 
}




.text-center {
  width: 100%;
  text-align: center;
  align-items: center;
}


.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%
}

.settings-icon {
  position: relative;
  right: -25%; /* Align the icon to the right */
  top: 15% ;
  transform: translateY(-50%); /* Vertically center the icon */
}

